[core]
	repositoryformatversion = 0
	filemode = true
	bare = false
	logallrefupdates = true
	ignorecase = true
	excludesfile = ~/.gitignore

[color]
	ui = auto

[user]
	name = Jan Moesen
	# My e-mail address can differ from repository to repository. The default
	# e-mail address is specified as GIT_AUTHOR_EMAIL and GIT_COMMITTER_EMAIL
	# in ~/.bash/extra.

[pretty]
	concise = %C(yellow)%h%C(reset) %s %C(bold black)(%an, %ar)%C(reset)%C(bold blue)%d%C(reset)

[alias]
	l = log --pretty=concise -n 20
	ll = log --pretty=concise --graph
	s = status --short --branch
	pom = push origin master
	pum = pull origin master
	git = !git
